/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_03_2024,_00_23_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_03_2024,_00_23_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_03_2024,_00_23_[Changes]2/shelved.patch
/.idea/uiDesigner.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_03_2024__00_23__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_13_03_2024__00_23__Changes_2.xml
/.idea/vcs.xml
/.idea/workspace.xml
